<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="d-none d-md-flex align-center px-6">
    <MudPaper Height="36px" Width="36px" Elevation="2" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
        <MudText Typo="Typo.h6">M</MudText>
    </MudPaper>
    <MudText Typo="Typo.h5" Class="ml-4 mr-12 pt-1 pb-2 mud-theme-primary-dark">Candle Kitchen</MudText>
    <MudButton Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Store</MudButton>

    <MudContainer Class="loginStuff">
        <AuthorizeView>
            <Authorized>
                <Dropdown>
                    <DropdownToggleButton Color="ButtonColor.Dark">Management</DropdownToggleButton>
                    <DropdownMenu>
                        <DropdownItem To="Account/Manage/PersonalData" Type="BlazorBootstrap.ButtonType.Link">@context.User.Identity?.Name</DropdownItem>
                        <DropdownItem To="AddNewProduct" Type="BlazorBootstrap.ButtonType.Link">Add New Product</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </Authorized>
            <NotAuthorized>
                <MudMenu Color="Color.Inherit" Label="Management" EndIcon="@Icons.Material.Filled.ArrowDropDown" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    <MudMenuItem Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Register</MudMenuItem>
                    <MudMenuItem Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Login</MudMenuItem>
                </MudMenu>
            </NotAuthorized>
        </AuthorizeView>
    </MudContainer>
</div>


