@page "/AddEditNewProduct/{productId:int?}"
@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@using FluentValidation
@using FluentValidation.Results
@using Microsoft.AspNetCore.Authorization
@using _2Good2EatStore.Data
@using _2Good2EatStore.Data.Enums
@using _2Good2EatStore.Data.Interfaces
@using _2Good2EatStore.Data.Models
@using _2Good2EatStore.Data.Services
@inject Cloudinary cloudinary
@attribute [Authorize]
@inject IProductService productService
@inject IFileService utility
@inject MudBlazor.ISnackbar snackBar
@inject ProductModelFluentValidator validator
@inject NavigationManager NavigationManager



    <MudContainer Class="mt-16 px-8 align-center" MaxWidth="MaxWidth.Large">
        <MudForm Context="formContext" Model="@productModel" Validation="@this.Validation()" ValidationDelay="0" >
            <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Add New Product</MudText>
            <MudGrid Spacing="6" Class="mt-16">
                <MudItem xs="7">

                    <MudFileUpload T="IBrowserFile" OnFilesChanged="OnFilesChanged">
                       <ActivatorContent>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   >
                            Upload Image
                        </MudButton>
                      </ActivatorContent>
                    </MudFileUpload>
                    @if (@productModel.file != null)
                    {
                        <MudImage Src="@fileConstructedPath"></MudImage>
                        <MudItem @key="@productModel.file">
                           
                            @productModel.file.Name <code>@productModel.file.Size bytes</code>
                            @fileConstructedPath
                        </MudItem>
                    }
                    <MudGrid>
                        <MudItem xs="12">
                            <MudTextField T="string" required  @bind-Value="@productModel.Name" Label="Name" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField T="string" required @bind-Value="@productModel.Description" Label="Description" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField T="decimal" required @bind-Value="@productModel.WholesalePrice" Label="Wholesale Price" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="decimal" required @bind-Value="@productModel.RetailPrice" Label="Retail Price" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="int" required @bind-Value="@productModel.Inventory" Label="Inventory" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText for="body">Select type of product: </MudText>
                            <InputSelect required @bind-Value="@productModel.ProductType">
                                @foreach (var type in EnumHelper<ProductTypeEnum>.GetValues(ProductTypeEnum.None))
                                {
                                    <option value="@type">@(EnumHelper<ProductTypeEnum>.GetDisplayValue(type))</option>
                                }
                            </InputSelect>
                        </MudItem>
                        <MudItem sx="6">
                            <MudToggleIconButton Icon="@Icons.Material.Filled.CheckBox" Color="@Color.Error"
                                                 ToggledIcon="@Icons.Material.Filled.CheckCircleOutline" ToggledColor="@Color.Success"
                                                 @bind-Value="@productModel.IsDeleted">Deleted</MudToggleIconButton>
                        </MudItem>
                        <MudItem sx="6">
                        <MudToggleIconButton Icon="@Icons.Material.Filled.CheckBox" Color="@Color.Error"
                                                 ToggledIcon="@Icons.Material.Filled.CheckCircleOutline" ToggledColor="@Color.Success"
                                                 @bind-Value="@productModel.IsVisible">Visible</MudToggleIconButton>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem>
                    <MudButton Class="saveButton" Disabled="@this.isSaveDisabled()" OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="MudBlazor.Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else if (!this.Validation().IsValid)
                        {        
                            <MudText>Invalid Form</MudText>
                        }
                        else
                        {
                            <MudText>Save</MudText>
                        }
                    </MudButton>
                    @foreach (string error in validationErrors)
                    {
                        <MudText Color="MudBlazor.Color.Error">@error</MudText>
                    }
                </MudItem>
           
            </MudGrid>
        </MudForm>

    </MudContainer>

@code {
    private bool _processing = false;
    private ProductModel productModel;
    private List<string> validationErrors;
    private string fileConstructedPath;

    [Parameter]
    public int? productId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        productModel = productId == null ? new ProductModel() : productService.GetProductById(productId.Value).MapToModel();
    }

    async Task Save()
    {
        _processing = true;
        productModel.IsVisible = true;
        if(productModel.file != null)
        {
            var uploadParams = new ImageUploadParams()
                {
                    File = new FileDescription(fileConstructedPath),
                    UseFilename = true,
                    UniqueFilename = false,
                    Overwrite = true
                };
            var uploadResult = cloudinary.Upload(uploadParams);
            productModel.ProductImageURL = uploadResult.Url.OriginalString;
        }

        productService.SaveProduct(productModel.MapToEntity());
        productModel = new ProductModel();
        _processing = false;
        snackBar.Add("Product Saved.", MudBlazor.Severity.Success);
        NavigationManager.NavigateTo("/");

    }

    private async Task OnFilesChanged(InputFileChangeEventArgs e)
    {
        if (e.File.Size < utility.GetReadStreamSize())
        {
           fileConstructedPath= await utility.MoveFileToRoot(e.File);
        }

        productModel.file = e.File;

    }

    public ValidationResult Validation()
    {
        var validator = new ProductModelFluentValidator();
        var result = new ValidationResult();
        if (productModel.ProductImageURL is null)
        {
            result = validator.Validate(productModel, options => options.IncludeRuleSets("default", "HasFile"));
        }
        else
        {
            result = validator.Validate(productModel, options => options.IncludeRuleSets("default"));
        }

        validationErrors = result.Errors.Select(x => x.ErrorMessage).ToList();

        return result;
    }

    public bool isSaveDisabled()
    {
        if (_processing)
            return true;

        if (!this.Validation().IsValid)
            return true;

        return false;
    }



}

